<% include partials/header.ejs %>
<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p> Good Choice ! rusty is the best!</p>
<% } %>

P.S. this is a love ejs file!

<% include partials/footer.ejs %>